[submodule "libkineto/third_party/googletest"]
	path = libkineto/third_party/googletest
	url = https://github.com.cnpmjs.org/google/googletest.git
[submodule "libkineto/third_party/fmt"]
	path = libkineto/third_party/fmt
	url = https://github.com.cnpmjs.org/fmtlib/fmt.git
